.square {
  height: 1rem;
  width: 1rem;
  vertical-align: middle;
  display: inline-block;
}

.square--green {
  background-color: #00b894;
}

.square--red {
  background-color: #d63031;
}

.square--blue {
  background-color: #0984e3;
}

.square--white {
  background-color: #dfe6e9;
}

.square--gray {
  background-color: #576574;
}

.square--orange {
  background-color: #e17055;
}

.square--yellow {
  background-color: #fdcb6e;
}

.square--black {
  background-color: #2d3436;
}